.App {
  text-align: center;
}
#image1 {
  color:white;
  background-image:url(https://imgs.search.brave.com/X_l6zJR2-AJhyv1oOdyvzSI60vw74yMfUEYifQA5f2s/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/d2FsbHBhcGVybWFp/ZGVuLmNvbS93YWxs/cGFwZXIvMjIwMTEv/ZG93bmxvYWQvMjU2/MHgxNDQwL2JsdWUt/Z3JhZGllbnQucG5n);
}

#blank {
  padding:20px;
  
  
}